.nav * {
  margin: 0;
  padding: 0;
}
.nav {
  text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 50px;
  z-index: 1;
  font-size: 2.75rem;
  background-color: rgb(138, 151, 140);
  color: black;
  border: outset 1px rgba(128, 128, 128);
  border-radius: 100px;
}

.nav li {
  text-align: center;
  list-style: none;
}
.nav li i {
  display: block;
  font-size: 4rem;
  margin-top: -10px;
}

.nav ul ul {
  display: none;
}
.nav ul li:hover > ul {
  display: block;
}
.nav li ul li {
  color: whitesmoke;
  background-color: #262626;
  margin: 10px;
  border: 2px outset rgb(128, 128, 128);
  border-radius: 10px;
}
.nav li ul li:hover {
  background-color: rgb(128, 128, 128);
}
