.projects {
  border-top: dashed 5px white;
  border-bottom: dashed 5px white;
}

.projects h2 {
  text-decoration: underline;
  margin-top: 6%;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.25rem;
  margin-bottom: 6%;
}

.work {
  line-break: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5%;
}

.text {
  padding: 5px;
  width: 50%;
  font-weight: 200;
}
.text h3 {
  color: rgb(231, 131, 240);
  text-decoration: underline;
}
.text a {
  color: rgb(231, 131, 240);
}
.text p {
  font-weight: 300;
}

/*medium screens*/
@media (max-width: 1400px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 8%;
  }
  .work {
    margin: 2%;
  }
}

/*small screens*/
@media (max-width: 1000px) {
  .projects h2 {
    font-size: 2.5rem;
  }
}

/*Mobile screens*/
@media (max-width: 480px) {
  .projects h2 {
    margin-top: 12%;
    font-size: 2rem;
  }
  .work {
    flex-direction: column;
    margin: 10% auto 10%;
  }
  .text {
    width: 100%;
  }
  .text h3 {
    font-weight: 600;
  }
}
